.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.expense-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lemonchiffon;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#expense-form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


#expense-list {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.expense-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #3825257a;
    border: 1px solid #ccc;
}


.expense-name {
    font-weight: bold;
}

.expense-amount {
    float: right;
    font-style: italic;
}
